services:
  # NestJS 백엔드 
  server:
    build: ./server
    container_name: Greenora-server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
      - ./server/uploads:/usr/src/app/uploads  # 업로드 이미지 저장 (컨테이너 재시작해도 유지)
    env_file:
      - ./.env  # 루트의 .env 파일 사용
    depends_on:
      mysql:
        condition: service_healthy

  # MySQL DB 
  mysql:
    image: mysql:8.0
    container_name: Greenora_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: skadnwns7188         #
      MYSQL_DATABASE: project_yellowmemo
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass_safe123         # 
    ports:
      - "3307:3306" # 3306 충돌 피해서 3307 포트 사용
    command: [
      "--character-set-server=utf8mb4",
      "--collation-server=utf8mb4_0900_ai_ci",
      "--default-authentication-plugin=caching_sha2_password"
    ]
    volumes:
      - db_data:/var/lib/mysql
      - ./init_data.sql:/docker-entrypoint-initdb.d/init_data.sql
    healthcheck:
      test: ["CMD-SHELL", "mysql -h localhost -u appuser -papppass_safe123 -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # React 프론트엔드 
  react:
    build: ./react-project
    container_name: Greenora-react
    ports:
      - "3001:3000" # 백엔드 3000번과 충돌 피해서 3001 포트 사용
    volumes:
      - ./react-project:/app
      - /app/node_modules
    stdin_open: true # React 개발 서버 유지를 위해 필요
    tty: true        # React 개발 서버 유지를 위해 필요

volumes:
  db_data: